<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Workshop Management System</title>
    <style>
        body {
            background-color: grey;
            color: white;
        }
    </style>
</head>
<body>
<h1>Welcome to the Car Workshop Management System</h1>
<p>This is a simple web application for managing a carFacade workshop.</p>
<button onclick="window.location.href = 'customers.html';">Customers</button>
<button onclick="window.location.href = 'cars.html';">Cars</button>
<button onclick="window.location.href = 'orders.html';">Orders</button>
<button onclick="window.location.href = 'invoices.html';">Invoices</button>

</body>
</html>
